/ZiphyTestOnWinUIApp.Core/bin/Debug/netstandard2.1/ZiphyTestOnWinUIApp.Core.deps.json
/ZiphyTestOnWinUIApp.Core/bin/Debug/netstandard2.1/ZiphyTestOnWinUIApp.Core.dll
/ZiphyTestOnWinUIApp.Core/bin/Debug/netstandard2.1/ZiphyTestOnWinUIApp.Core.pdb
/ZiphyTestOnWinUIApp.Core/obj/Debug/netstandard2.1/_IsIncrementalBuild
/ZiphyTestOnWinUIApp.Core/obj/Debug/netstandard2.1/ZiphyTestOnWinUIApp.Core.csproj.BuildWithSkipAnalyzers
/ZiphyTestOnWinUIApp.Core/obj/Debug/netstandard2.1/ZiphyTestOnWinUIApp.Core.csproj.CoreCompileInputs.cache
/ZiphyTestOnWinUIApp.Core/obj/Debug/netstandard2.1/ZiphyTestOnWinUIApp.Core.csproj.FileListAbsolute.txt
/ZiphyTestOnWinUIApp.Core/obj/Debug/netstandard2.1/ZiphyTestOnWinUIApp.Core.dll
/ZiphyTestOnWinUIApp.Core/obj/Debug/netstandard2.1/ZiphyTestOnWinUIApp.Core.pdb
